[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pyqt5 = "*"
weasyprint = "*"
beautifulsoup4 = "*"
jinja2 = "*"
cfscrape = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
