<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %} {% endblock %}</title>
    <link rel='stylesheet' href="assets/style.css">
    <script src='assets/scripts/jquery.js'></script>
    <script src='assets/scripts/script.js'></script>
    {% endblock %}
</head>

<body class=''>
    <label class='switch hidden' id='theme-switch-parent'>
        <input type="checkbox" id='theme-checkbox'>
        <span class="slider">
            <p class='theme-icon center' id='theme-switcher'>
            </p>
        </span>
    </label>{% block body %}
    <div class='novel'>
        <div id='header'>
            {% block header %} {% endblock %}
        </div>
        <div id='content'>
            {% block content %} {% endblock %}
        </div> {% endblock %}</div>
</body>

</html>